{% extends "main/base.html" %}

{% block content %}

<html lang="ko">
<head>

</head>
<body>

<div class="">
	{% load staticfiles %}
	<img src="{% static 'images/logo.svg' %}" class='mx-auto mt-10 w-3/12'>
</div>

<div class="w-full max-w-sm mx-auto mt-4">
	<form method="get" name="search_form" action="{% url 'score:search_result' %}">
		<div class="flex items-center border rounded-full">
			<input type="text" class="bg-gray-200 appearance-none border-2 border-gray-200 w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 rounded-full" placeholder="소환사의 이름을 입력하세요" name="search_text" value="{{search_text}}">
			<button class="rounded-full flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2" type="submit">검색</button>
		</div>
	</form>
</div>
<br><br>
{% endblock %}
</body>
</html>