{% extends "main/base.html" %}
{% block content %}

<html>
  <head>
  </head>
    <title>전적검색</title>
  <body>
	  <h1 class="m-header">Quick Search</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form method="get" name="search_form" action="{% url 'score:search_result' %}" >
                    <div class="input-group input-group-lg mb-3 mt-5 mx-auto" id="serch-bar">
                      <input type="text" class="form-control rounded-pill" placeholder="소환사의 이름을 입력하세요" name="search_text"  value="{{search_text}}">
                     <span class="input-group-btn">
                          <button class="btn btn-secondary" type="submit">검색</button>
                    </span>
                      </div>
                  </form>
            </div>
        </div>
    </div>
  </body>
{% endblock %}
</html>
